@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

@theme {
  --color-primary: #545334;
  --color-accent: #174c38;
  --color-background: #878672;
  --color-gray: #cbcbcb;
  --font-Raleway:  "Raleway", sans-serif;
}
