@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss";

@theme {
  --color-primary: #4F7C82;
  --color-accent: #0B2E32;
  --color-background: #878672;
  --color-gray: #cbcbcb;
  --font-Inter:  "Inter", sans-serif;
}
